<!DOCTYPE html>
<html ng-app="myModule">
<head>
    <meta charset="utf-8" />
    <title>Home Page</title>
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/Home.js"></script>
</head>
<body ng-controller="myController">
    <div>
        {{ message }}
    </div>
    <div>
        First Name : <input type="text" ng-model="employee.firstName" />
    </div>
    <div>
        Gender : <input type="text" ng-model="employee.gender" />
    </div>
    <div>
        Department : <input type="text" ng-model="employee.department" />
    </div>
    <br />
    <div>
        First Name : {{ employee.firstName }}
    </div>
    <div>
        Gender : {{ employee.gender }}
    </div>
    <div>
        Department : {{ employee.department }}
    </div>
</body>
</html>