<!DOCTYPE html>
<html ng-app="myModule">
<head>
    <meta charset="utf-8" />
    <title>Home Page</title>
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/Home.js"></script>
    <link href="StyleSheet1.css" rel="stylesheet" />
</head>
<body ng-controller="myController">
    <div>
        {{ message }}
    </div>
    <div>
        First Name : <input type="text" ng-model="employee.firstName" />
    </div>
    <div>
        Gender : <input type="text" ng-model="employee.gender" />
    </div>
    <div>
        Department : <input type="text" ng-model="employee.department" />
    </div>
    <br />
    <br />
    <div>
        First Name : {{ employee.firstName }}
    </div>
    <div>
        Gender : {{ employee.gender }}
    </div>
    <div>
        Department : {{ employee.department }}
    </div>
    <br />
    <br />
    <div>
        Implementing custom paging and column sorting

        Default rows to display
        <input type="number" step="1" ng-model="rowlimit" min="0" max="5" />
        Sort Column
        <select ng-model="sortColumn">
            <option value="firstName">First Name ASC</option>
            <option value="gender">Gender ASC</option>
            <option value="department">Dept ASC</option>
            <option value="-salary">Salary DESC</option>
        </select>
    </div>

    <br />
    <br />
    <input type="checkbox" ng-model="hideSalary" /> Hide Salary
    <br />
    <br />
    <div>
        Search all employee data <input type="text" ng-model="searchData" />
        <!--Type searchData.ClumnName for just particular column search-->
    </div>
    <table>
        <thead>
            <tr>
                <th ng-click="sortDate('firstName')"><div ng-class="sortClass('firstName')"></div>First Name</th>
                <th ng-click="sortDate('gender')"><div ng-class="sortClass('gender')"></div>Gender</th>
                <th ng-click="sortDate('department')"><div ng-class="sortClass('department')"></div>Dept</th>
                <th ng-hide="hideSalary" ng-click="sortDate('salary')"><div ng-class="sortClass('salary')"></div>Salary</th>
                <th ng-show="hideSalary">Salary</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="emp in employees | limitTo:rowlimit | orderBy:sortColumn:reverseOrder | filter:searchData">
                <td>{{ emp.firstName | uppercase}}</td>
                <td>{{ emp.gender | lowercase }}</td>
                <td>{{ emp.department }}</td>
                <td ng-hide="hideSalary">{{ emp.salary | currency }}</td>
                <td ng-show="hideSalary">#####</td>
            </tr>
        </tbody>
    </table>
    <br />
    <br />
    <table border="1">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Gender</th>
                <th>Dept</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="lang in languages ">
                <td>{{ lang.name | uppercase }}</td>
                <td>{{ lang.likes }}</td>
                <td>{{ lang.dislikes }}</td>
                <td><input type="button" ng-click="incrementLikes(lang)" value="Like" /> | <input type="button" ng-click="incrementDislikes(lang)" value="Dislike" /></td>
            </tr>
        </tbody>
    </table>
    <br />
    <br />
    Using include directive
    <div ng-include="'EmployeeTable.html'"></div>
</body>
</html>